<ion-tabs class="tabs-islogged" *ngIf="values.isLoggedIn" selectedIndex="1">
  <ion-tab [root]="WishlistPage" tabIcon="md-heart"></ion-tab>
  <ion-tab [root]="productListPage" tabIcon="md-home"></ion-tab>
  <!-- <ion-tab [root]="Home" tabIcon="md-search"></ion-tab> -->
  <ion-tab [root]="CartPage" tabIcon="md-cart"></ion-tab>
  <!-- <ion-tab [root]="AccountPage" tabIcon="md-person"></ion-tab> -->
</ion-tabs>
<ion-tabs *ngIf="!values.isLoggedIn" #homerTabs selectedIndex="1">
  <ion-tab [root]="AccountLogin" tabIcon="md-person"></ion-tab>
  <ion-tab [root]="productListPage" tabIcon="md-home"></ion-tab>
  <!-- <ion-tab [root]="Home" tabIcon="md-search"></ion-tab> -->
  <ion-tab [root]="CartPage" tabIcon="md-cart"></ion-tab>
</ion-tabs>
